[Desktop Entry]
Type=Application
Name=SoftEtherVPN-QtManager
GenericName=SoftEther VPN Server Manager
Comment=SoftEther VPN Server administration GUI for Mac/Linux
Exec=SoftEtherVPN-QtManager
Icon=softethervpn-qtmanager
Terminal=false
Categories=Network;System;
